In [1]:
import pandas as pd

dataset = pd.read_csv('present_us_infoemation.csv',squeeze=True,usecols=['county'])
dataset

0         Orleans
1      Livingston
2      Gloucester
3       Anchorage
4          Butler
          ...
495           Ada
496       Elkhart
497     Box Butte
498          King
499        Orange
Name: county, Length: 500, dtype: object

In [3]:
dataset[10]

'Montgomery'

In [14]:
dataset[[100,200,303]]

100      Boulder
200      Tarrant
303    Riverside
Name: county, dtype: object

In [15]:
dataset[70:90]

70     San Francisco
71            Orange
72         San Mateo
73      Contra Costa
74           Madison
75          Allegany
76    Baltimore City
77             Essex
78              Cook
79             Essex
80             Curry
81          Richmond
82             Duval
83           Alameda
84          Cuyahoga
85           Tarrant
86       Los Angeles
87              Cook
88            Summit
89      Philadelphia
Name: county, dtype: object

In [16]:
dataset[:20]

0            Orleans
1         Livingston
2         Gloucester
3          Anchorage
4             Butler
5            Ashland
6               Cook
7        Santa Clara
8          Minnehaha
9     Baltimore City
10        Montgomery
11           Suffolk
12       Los Angeles
13            Geauga
14              Webb
15          Maricopa
16            Warren
17         Milwaukee
18             Wayne
19         Winnebago
Name: county, dtype: object

In [17]:
dataset[-10:]

490               Dickinson
491                  Placer
492                 Volusia
493    District of Columbia
494                   Marin
495                     Ada
496                 Elkhart
497               Box Butte
498                    King
499                  Orange
Name: county, dtype: object

In [18]:
dataset[-30:-10]

470       New York
471         Nassau
472         Citrus
473        Hancock
474       Buchanan
475          Hinds
476         Taylor
477    Santa Clara
478         Camden
479        Alameda
480       Seminole
481        Laramie
482         Nassau
483           Dane
484         Hudson
485     Lackawanna
486      San Diego
487      Riverside
488       Atlantic
489     Providence
Name: county, dtype: object