In [1]:
import pandas as pd

dataset = pd.read_csv("survey-2018-financial-year-provisional.csv") 
dataset.head()

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)

In [2]:
import pandas as pd 

variable =pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['variable'])

variable

0                                          Activity unit
1                                 Rolling mean employees
2                                Salaries and wages paid
3        Sales, government funding, grants and subsidies
4                                           Total income
                              ...
12379                                       Total income
12380                                  Total expenditure
12381                        Operating profit before tax
12382                                       Total assets
12383                              Fixed tangible assets
Name: variable, Length: 12384, dtype: object

In [3]:
import pandas as pd 

variable = pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['variable'])

variable.sort_values()

0       Activity unit
6678    Activity unit
6687    Activity unit
1422    Activity unit
6696    Activity unit
            ...
3640     Total income
9211     Total income
9220     Total income
859      Total income
7429     Total income
Name: variable, Length: 12384, dtype: object

In [4]:
import pandas as pd 

variable =pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['variable'])

variable.sort_values().head(10)

0       Activity unit
6678    Activity unit
6687    Activity unit
1422    Activity unit
6696    Activity unit
6705    Activity unit
6714    Activity unit
6723    Activity unit
1413    Activity unit
6732    Activity unit
Name: variable, dtype: object

In [5]:
import pandas as pd 

variable =pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['variable'])

variable.sort_values(ascending=True)  # default

0       Activity unit
6678    Activity unit
6687    Activity unit
1422    Activity unit
6696    Activity unit
            ...
3640     Total income
9211     Total income
9220     Total income
859      Total income
7429     Total income
Name: variable, Length: 12384, dtype: object

In [6]:
import pandas as pd 

variable =pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['variable'])

variable.sort_values(ascending=False)   # Descending Order

7429     Total income
859      Total income
9220     Total income
9211     Total income
3640     Total income
            ...
6696    Activity unit
1422    Activity unit
6687    Activity unit
6678    Activity unit
0       Activity unit
Name: variable, Length: 12384, dtype: object

In [7]:
import pandas as pd 

variable =pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['variable'])

variable.sort_values(ascending=False).tail(10)

6732    Activity unit
1413    Activity unit
6723    Activity unit
6714    Activity unit
6705    Activity unit
6696    Activity unit
1422    Activity unit
6687    Activity unit
6678    Activity unit
0       Activity unit
Name: variable, dtype: object

In [8]:
import pandas as pd 

variable =pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['variable'])

variable.sort_values(ascending=False).head(10)

7429    Total income
859     Total income
9220    Total income
9211    Total income
3640    Total income
9202    Total income
796     Total income
2182    Total income
9193    Total income
9184    Total income
Name: variable, dtype: object

In [9]:
import pandas as pd 

value = pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['value'])

value
# value.head(10)

0          46134
1              0
2            279
3           8187
4           8866
          ...
12379     691859
12380     597623
12381      85574
12382    2068648
12383     499274
Name: value, Length: 12384, dtype: object

In [10]:
import pandas as pd 

value = pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['value'])

value.head()

0    46134
1        0
2      279
3     8187
4     8866
Name: value, dtype: object

In [11]:
import pandas as pd 

value = pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['value'])

value.sort_values()  # ascending order e

8925     -1
12102    -1
10473    -1
6144     -1
6954     -1
         ..
11118     C
8304      C
8313      C
7055      C
863       C
Name: value, Length: 12384, dtype: object

In [12]:
import pandas as pd 

value =pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['value'])
value.sort_values()
value.head()  # Sort hoy ni

0    46134
1        0
2      279
3     8187
4     8866
Name: value, dtype: object

In [13]:
import pandas as pd 
value = pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['value'])
value = value.sort_values()
value.head()

8925     -1
12102    -1
10473    -1
6144     -1
6954     -1
Name: value, dtype: object

In [14]:
import pandas as pd 
value = pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['value'])
value = value.sort_values(ascending = False)
value.head()

863      C
7055     C
8313     C
8304     C
11118    C
Name: value, dtype: object

In [15]:
import pandas as pd 
dataset = pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True)

dataset.drop('unit',axis=1,inplace=False)   # ei khane 'unit' namer column ta ase ota == temporalily nai

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866
...,...,...,...,...,...,...
12379,2018,all,All Industries,j_Grand_Total,Total income,691859
12380,2018,all,All Industries,j_Grand_Total,Total expenditure,597623
12381,2018,all,All Industries,j_Grand_Total,Operating profit before tax,85574
12382,2018,all,All Industries,j_Grand_Total,Total assets,2068648
12383,2018,all,All Industries,j_Grand_Total,Fixed tangible assets,499274

In [16]:
import pandas as pd 
dataset = pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True)

dataset.head()   # drop permanent hoy ni tai abr show kortese

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)

In [17]:
import pandas as pd 
dataset = pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True)

dataset.drop('unit',axis=1,inplace=True)   # ei khane 'unit' namer column ta ase ota Permanent drop hoiya jabe

In [18]:
dataset.head()   # Dataset er 'unit' parmanently gone now

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866