In [19]:
import pandas as pd

pd.read_csv("survey-2018-financial-year-provisional.csv") 
                                                    # "squeeze" holo boolean parameter ...
                                                    # "squeeze" er maddome Pandas Series e kora hoy ..
                                                    # "usecols" eta diya specific kono colomn er value Show kora hoy..

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)
...,...,...,...,...,...,...,...
12379,2018,all,All Industries,j_Grand_Total,Total income,691859,DOLLARS(millions)
12380,2018,all,All Industries,j_Grand_Total,Total expenditure,597623,DOLLARS(millions)
12381,2018,all,All Industries,j_Grand_Total,Operating profit before tax,85574,DOLLARS(millions)
12382,2018,all,All Industries,j_Grand_Total,Total assets,2068648,DOLLARS(millions)
12383,2018,all,All Industries,j_Grand_Total,Fixed tangible assets,499274,DOLLARS(millions)

In [18]:
import pandas as pd

pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True)

                                                    # "squeeze" holo boolean parameter ...
                                                    # "squeeze" er maddome Pandas e Series e kora hoy ..

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)
...,...,...,...,...,...,...,...
12379,2018,all,All Industries,j_Grand_Total,Total income,691859,DOLLARS(millions)
12380,2018,all,All Industries,j_Grand_Total,Total expenditure,597623,DOLLARS(millions)
12381,2018,all,All Industries,j_Grand_Total,Operating profit before tax,85574,DOLLARS(millions)
12382,2018,all,All Industries,j_Grand_Total,Total assets,2068648,DOLLARS(millions)
12383,2018,all,All Industries,j_Grand_Total,Fixed tangible assets,499274,DOLLARS(millions)

In [17]:
import pandas as pd

pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['industry_name_ANZSIC'])

0        Agriculture, Forestry and Fishing
1        Agriculture, Forestry and Fishing
2        Agriculture, Forestry and Fishing
3        Agriculture, Forestry and Fishing
4        Agriculture, Forestry and Fishing
                       ...
12379                       All Industries
12380                       All Industries
12381                       All Industries
12382                       All Industries
12383                       All Industries
Name: industry_name_ANZSIC, Length: 12384, dtype: object

In [20]:
import pandas as pd

industry_name_ANZSIC =pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['industry_name_ANZSIC'])

industry_name_ANZSIC.head()   # upor theke value show kora

0    Agriculture, Forestry and Fishing
1    Agriculture, Forestry and Fishing
2    Agriculture, Forestry and Fishing
3    Agriculture, Forestry and Fishing
4    Agriculture, Forestry and Fishing
Name: industry_name_ANZSIC, dtype: object

In [21]:
import pandas as pd

industry_name_ANZSIC =pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['industry_name_ANZSIC'])

industry_name_ANZSIC.head(10)  # upor theke 10 ta value show kora

0    Agriculture, Forestry and Fishing
1    Agriculture, Forestry and Fishing
2    Agriculture, Forestry and Fishing
3    Agriculture, Forestry and Fishing
4    Agriculture, Forestry and Fishing
5    Agriculture, Forestry and Fishing
6    Agriculture, Forestry and Fishing
7    Agriculture, Forestry and Fishing
8    Agriculture, Forestry and Fishing
9    Agriculture, Forestry and Fishing
Name: industry_name_ANZSIC, dtype: object

In [22]:
import pandas as pd

industry_name_ANZSIC =pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['industry_name_ANZSIC'])

industry_name_ANZSIC.tail()    # value niser theke show kora

12379    All Industries
12380    All Industries
12381    All Industries
12382    All Industries
12383    All Industries
Name: industry_name_ANZSIC, dtype: object

In [23]:
import pandas as pd

industry_name_ANZSIC =pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['industry_name_ANZSIC'])

industry_name_ANZSIC.tail(10)

12374    Other Services
12375    All Industries
12376    All Industries
12377    All Industries
12378    All Industries
12379    All Industries
12380    All Industries
12381    All Industries
12382    All Industries
12383    All Industries
Name: industry_name_ANZSIC, dtype: object

In [24]:
import pandas as pd

industry_name_ANZSIC =pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['industry_name_ANZSIC'])

industry_name_ANZSIC.values

array(['Agriculture, Forestry and Fishing',
       'Agriculture, Forestry and Fishing',
       'Agriculture, Forestry and Fishing', ..., 'All Industries',
       'All Industries', 'All Industries'], dtype=object)

In [25]:
import pandas as pd

industry_name_ANZSIC =pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['industry_name_ANZSIC'])

industry_name_ANZSIC.index

RangeIndex(start=0, stop=12384, step=1)

In [26]:
import pandas as pd

industry_name_ANZSIC =pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['industry_name_ANZSIC'])

industry_name_ANZSIC.dtype

dtype('O')

In [27]:
import pandas as pd

industry_name_ANZSIC =pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['industry_name_ANZSIC'])

industry_name_ANZSIC.is_unique

False

In [29]:
import pandas as pd

industry_name_ANZSIC =pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['industry_name_ANZSIC'])

industry_name_ANZSIC.ndim   # ndim == n-dimentional-->> Series always one-dimantional

1

In [30]:
import pandas as pd

industry_name_ANZSIC =pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['industry_name_ANZSIC'])

industry_name_ANZSIC.shape

(12384,)

In [31]:
import pandas as pd

industry_name_ANZSIC =pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['industry_name_ANZSIC'])

industry_name_ANZSIC.size

12384

In [32]:
import pandas as pd

industry_name_ANZSIC =pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['industry_name_ANZSIC'])

industry_name_ANZSIC.name

'industry_name_ANZSIC'

In [34]:
import pandas as pd

industry_name_ANZSIC =pd.read_csv("survey-2018-financial-year-provisional.csv",squeeze = True,usecols=['industry_name_ANZSIC'])

industry_name_ANZSIC.name = 'xyxz'  # Column er name change but temporalily
industry_name_ANZSIC.head()

0    Agriculture, Forestry and Fishing
1    Agriculture, Forestry and Fishing
2    Agriculture, Forestry and Fishing
3    Agriculture, Forestry and Fishing
4    Agriculture, Forestry and Fishing
Name: xyxz, dtype: object