In [7]:
import pandas as pd

dataset = pd.read_csv("present_us_infoemation.csv",squeeze=True,usecols=['city'])
dataset.head(4)

0    New Orleans
1       Brighton
2     Bridgeport
3      Anchorage
Name: city, dtype: object

In [9]:
import pandas as pd

dataset = pd.read_csv("present_us_infoemation.csv",squeeze=True,usecols=['city'])
dataset.sort_values(ascending=False)  # mane ulta order e astese

308         York
226      Yonkers
294    Worcester
108    Worcester
397    Worcester
         ...
314      Abilene
476      Abilene
39       Abilene
490      Abilene
276     Aberdeen
Name: city, Length: 500, dtype: object

In [11]:
import pandas as pd

dataset = pd.read_csv("present_us_infoemation.csv",squeeze=True,usecols=['city'])
dataset.sort_values(ascending=False,inplace=True)

dataset.head(3)

308         York
226      Yonkers
294    Worcester
Name: city, dtype: object

In [13]:
import pandas as pd

dataset = pd.read_csv("present_us_infoemation.csv",squeeze=True,usecols=['city'])
dataset.sort_index()

0      New Orleans
1         Brighton
2       Bridgeport
3        Anchorage
4         Hamilton
          ...
495          Boise
496        Elkhart
497       Alliance
498        Seattle
499        Orlando
Name: city, Length: 500, dtype: object

In [2]:
import pandas as pd

dataset = pd.read_csv("present_us_infoemation.csv",squeeze=True,usecols=['city'])
dataset.sort_index(ascending=False)

499        Orlando
498        Seattle
497       Alliance
496        Elkhart
495          Boise
          ...
4         Hamilton
3        Anchorage
2       Bridgeport
1         Brighton
0      New Orleans
Name: city, Length: 500, dtype: object

In [3]:
dataset.head()

0    New Orleans
1       Brighton
2     Bridgeport
3      Anchorage
4       Hamilton
Name: city, dtype: object

In [15]:
import pandas as pd

dataset = pd.read_csv("present_us_infoemation.csv",squeeze=True,usecols=['city'])
dataset.sort_index(ascending=False,inplace=True)

In [16]:
dataset.head()

499     Orlando
498     Seattle
497    Alliance
496     Elkhart
495       Boise
Name: city, dtype: object