In [1]:
import pandas as pd

bond  = pd.read_csv("jamesbond.csv", index_col="Film")
bond.sort_index(inplace=True)
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [5]:
bond.loc["Diamonds Are Forever","Actor"]

'Sean Connery'

In [4]:
bond.loc["Diamonds Are Forever","Director"]

'Guy Hamilton'

In [6]:
bond.loc["Diamonds Are Forever","Actor":"Budget"]   # Range

Actor         Sean Connery
Director      Guy Hamilton
Box Office           442.5
Budget                34.7
Name: Diamonds Are Forever, dtype: object

In [7]:
bond.loc["Diamonds Are Forever",["Year","Director","Budget"]]

Year                1971
Director    Guy Hamilton
Budget              34.7
Name: Diamonds Are Forever, dtype: object

In [8]:
bond.iloc[4, 2]

'Lee Tamahori'

In [9]:
bond.iloc[4, 2:5]

Director      Lee Tamahori
Box Office           465.4
Budget               154.2
Name: Die Another Day, dtype: object

In [10]:
bond.iloc[4, [5,3,2]]

Bond Actor Salary            17.9
Box Office                  465.4
Director             Lee Tamahori
Name: Die Another Day, dtype: object

In [12]:
   # New version e eta bad deya hoise...tai error
bond.ix[20,"Budget"]
bond.ix["The Man with the Golden Gun",2]
bond.ix["The Man with the Golden Gun",["Actor","Budget"]]
bond.ix["The Man with the Golden Gun", :4]
bond.ix[5,3]

AttributeError: 'DataFrame' object has no attribute 'ix'